.text-primary {
	color: var(--mdc-theme-primary);
}

.text-danger {
	color: var(--mdc-theme-danger);
}

.text-success {
	color: var(--mdc-theme-success);
}

.text-warning {
	color: var(--mdc-theme-warning);
}

.text-secondary {
	color: var(--mdc-theme-secondary);
}

.text-tertiary {
	color: var(--mdc-theme-tertiary);
}

.text-gray {
	color: gray;
}

.bg-gray {
	background-color: gray;
}

.bg-light-shade {
	background-color: #f5f5f5;
}
