.cell-list {
	display: flex;
	flex-direction: column;
	.cell-item {
		background-color: #fff;
		width: 100%;
		padding: 8px 0;

		&:hover {
			background-color: var(--gray-2);
		}

		.icon,
		.avatar {
			margin-right: 8px;
			min-width: 3.25rem;
			height: 3.25rem;
		}

		.item-content {
			display: flex;
			flex: 1;
			position: relative;
			.label {
				flex-shrink: 0;
			}
			.content-title {
				min-width: 25vw;
				line-height: 52px;
			}
			.time-line {
				position: absolute;
				bottom: 4px;
				right: 4px;
				z-index: 1;
				&::after {
					content: '';
					position: absolute;
					bottom: -2px;
					right: -2px;
					background-color: var(--geekblue-4);
					height: 0.625rem;
					width: 120%;
					z-index: -1;
					transform: skew(-12deg);
				}
			}
		}
		.content-payload {
			padding: 0 65px;
		}

		.bable {
			min-width: 25vw;
			padding: 6px 12px;
			background-color: var(--geekblue-1);
			color: black;
			&.self {
				border-radius: 8px 0 8px 8px;
			}
		}

		.item-avatar {
			margin-right: 8px;
			max-width: 3.25rem;
			height: 3.25rem;
			&:last-child {
				margin-left: 16px;
			}
			img,
			.v-image {
				border-radius: 50%;
				width: inherit;
				height: inherit;
			}
		}

		.item-info {
			display: flex;
			flex: 1;
			flex-direction: column;
			justify-content: space-between;
		}

		.item-container {
			padding-top: 8px;
			margin-top: 8px;
		}

		& + .cell-item {
			border-top: 1px solid #e9e9ed;
		}
	}
}

.mdc-data-table {
	background-color: var(--mdc-theme-surface, #fff);
	border-radius: 4px;
	border: 1px solid rgba(0, 0, 0, 0.12);
	display: inline-flex;
	flex-direction: column;
	box-sizing: border-box;
	overflow-x: auto;
}

.mdc-data-table__table {
	width: 100%;
	border: 0;
	white-space: nowrap;
	border-collapse: collapse;
}

.mdc-data-table__content {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
}

.mdc-data-table__header-row {
	height: 56px;
}

.mdc-data-table__row {
	height: 52px;
	border-top-color: rgba(0, 0, 0, 0.12);
	border-top-width: 1px;
	border-top-style: solid;
}

.mdc-data-table__cell {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.25rem;
	font-weight: 400;
	letter-spacing: 0.0178571429em;
	text-decoration: inherit;
	text-transform: inherit;
}

.mdc-data-table__cell--numeric {
	text-align: end;
}

.mdc-data-table__header-cell {
	font-family: Roboto, sans-serif;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-size: 0.875rem;
	line-height: 1.375rem;
	font-weight: 500;
	letter-spacing: 0.0071428571em;
	text-decoration: inherit;
	text-transform: inherit;
	text-align: left;
}

.mdc-data-table__cell,
.mdc-data-table__header-cell {
	padding-right: 16px;
	padding-left: 16px;
	color: rgba(0, 0, 0, 0.87);
}

.app-card {
	.card-header {
		border-bottom: 1px solid #e9e9ed;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: 8px;
		margin: 8px 0;
		font-size: large;
		font-weight: bold;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			left: -2px;
			top: 29%;
			height: 42%;
			width: 2px;
			background-color: var(--mdc-theme-primary);
		}
		&::after {
			content: '';
			position: absolute;
			left: 2px;
			top: 29%;
			height: 42%;
			width: 2px;
			background-color: var(--mdc-theme-primary);
		}
	}

	.card-media {
		max-height: 340px;
		overflow-y: auto;
		img {
			width: 100%;
		}
	}
	.actions {
		border-top: 1px solid #e9e9ed;
		margin-top: 8px;
		padding-top: 8px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		button,
		a {
			margin-left: 8px;
		}
	}
}

.tag {
	display: inline-block;
	color: var(--gray-1);
	background-color: var(--gray-7);
	padding: 4px 8px;
	margin: 4px;
	border-radius: 4px;
	font-size: small;
}

.title {
	position: relative;
	display: inline-block;
	z-index: 1;
	&::after {
		content: '';
		position: absolute;
		bottom: 2px;
		left: -4px;
		background-color: var(--geekblue-4);
		height: 0.625rem;
		width: 120%;
		z-index: -1;
		transform: skew(12deg);
	}
}

.subtitle {
	text-indent: 8px;
	position: relative;
	padding-top: 4px;
	padding-bottom: 4px;
	margin: 4px 0;
	display: flex;
	align-items: center;
	&::before {
		content: '';
		position: absolute;
		left: -2px;
		top: 29%;
		height: 42%;
		width: 2px;
		background-color: var(--mdc-theme-primary);
	}
	&::after {
		content: '';
		position: absolute;
		left: 2px;
		top: 29%;
		height: 42%;
		width: 2px;
		background-color: var(--mdc-theme-primary);
	}
}

.alert {
	position: relative;
	color: var(--mdc-theme-dark);
	padding: 8px;
	z-index: 1;
	border-left: 4px solid var(--mdc-theme-primary);
	border-radius: 4px;
	overflow: hidden;
	font-size: smaller;
	letter-spacing: 0.035rem;
	line-height: 1.7;
	box-shadow: 0 0 4px 2px var(--gray-2), 0 0 3px 1px var(--gray-3);
	&::after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		top: 0;
		right: 0;
		// filter: blur(1px);
		z-index: -1;
		background-color: var(--gray-4);
	}
}

.mdc-dialog__container {
	.dialog-close {
		position: absolute;
		top: 8px;
		right: 8px;
		z-index: 8;
	}

	img,
	video {
		width: 100%;
	}
}
