.xx-large {
	font-size: xx-large;
}

.x-large {
	font-size: x-large;
}

.larger {
	font-size: larger;
}

.large {
	font-size: large;
}

.smaller {
	font-size: smaller;
}

.small {
	font-size: small;
}

.x-small {
	font-size: x-small;
}

.xx-small {
	font-size: xx-small;
}

.bold {
	font-weight: bold;
}

.lighter {
	font-weight: lighter;
}
